/* position of nav*/
nav {

    width: 200px;
    float: left;
    margin-right: 10px;
    margin-left: -35px;

}
/* controls nav ul background color*/
nav ul{

    background-color: rgb(175,175,175);

}
/* controls background color and boder radius of hovering for nav ul li*/
nav ul li:hover{

    background-color: rgb(148,51,62);
    border-radius: 5px;

}
/*characterisitcs of header h1*/
header h1{

    width: 100%;
    margin: -5px 0px 20px -10px;
    text-align: center;

}

